<!DOCTYPE HTML>
<html>
	<head>
		<title>Federated Meta-Learning</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo">FMLearn</a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a target="_blank" 
						href="https://www.scss.tcd.ie/joeran.beel/blog/2019/04/08/federated-meta-learning-democratizing-algorithm-selection-across-disciplines-and-software-libraries-proposal/">
							Proposal</a>
						<a href="api-description.html">API Description</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Federated Meta-Learning</h1>
				<p>Democratizing Algorithm Selection Across Disciplines and Software Libraries</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>FMLearn Application</h3>
							</header>
							<p>Federated Meta-Learning: a concept that allows everyone to benefit from the data that is generated through machine learning libraries.</p>
							<footer>
								<a target="_blank" href="https://github.com/mukeshmk/fm-learn/releases/latest" class="button special">Download</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Modified scikit-learn</h3>
							</header>
							<p>Modified version of scikit-learn with an additional library to make API called for Federated Meta-Learning.</p>
							<footer>
								<a target="_blank" href="https://github.com/mukeshmk/scikit-learn/releases/latest" class="button special">Download</a>
							</footer>
						</article>
						<article>
							<header>
								<h3>Algorithms and Datasets</h3>
							</header>
							<p>Contains algorithms and datasets used for evaluation of FMLearn along with a few examples of how to use.</p>
							<footer>
								<a target="_blank" href="https://github.com/mukeshmk/toy-datasets" class="button special">GitHub</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							
						</div>
						<ul class="icons">
							<li><a target="_blank" href="https://www.facebook.com/amukesh.mk/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a target="_blank" href="https://twitter.com/amukeshmk" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a target="_blank" href="https://www.linkedin.com/in/mukeshmk95/" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a target="_blank" href="https://github.com/mukeshmk" class="icon fa-github"><span class="label">linkedIn</span></a></li>
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>